torch==2.1.0
torchaudio==2.1.0
speechbrain==0.5.16
huggingface_hub==0.16.4
fastapi
uvicorn
pydantic
python-dotenv
passlib[bcrypt]
python-jose
celery[redis]
redis
pymongo
motor
yt-dlp
ffmpeg-python
langdetect
scikit-learn
librosa
soundfile
validators
bleach
numpy==1.26.4
transformers